<div class="login-container">
  <h2>Bienvenido a SuperPet 🐶</h2>
  <form (ngSubmit)="login()">
    <input type="text" [(ngModel)]="username" name="username" placeholder="Usuario" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
    <button type="submit">Ingresar</button>
  </form>

  <!--fondo de huellitas uwu-->
  <div class="paw-background">
  <div class="paw" style="left: 10%; animation-delay: 0s;">🐾</div>
  <div class="paw" style="left: 30%; animation-delay: 2s;">🐾</div>
  <div class="paw" style="left: 50%; animation-delay: 4s;">🐾</div>
  <div class="paw" style="left: 70%; animation-delay: 6s;">🐾</div>
  <div class="paw" style="left: 90%; animation-delay: 8s;">🐾</div>
</div>

</div>
