<div class="admin-panel">
  <h2>¡Bienvenido, Admin 🐾!</h2>
  <p>¿Qué deseas hacer?</p>
  <div class="options">
    <button routerLink="/mascotas">🐶 Ver mascotas</button>
    <button routerLink="/clientes">👥 Ver clientes</button>
    <button routerLink="/servicios">🩺 servicios</button>
    <button (click)="logout()" class="logout-btn">🚪 Cerrar sesión</button>
  </div>
</div>

<!--Fondo con huellas animaditas se ve re bonitoooooooooooooooooooooooooooo ojala hubiera mas tiempo para diseñarlo :(  -->
<div class="paw-background">
  <div class="paw" style="left: 10%; animation-delay: 0s;">🐾</div>
  <div class="paw" style="left: 30%; animation-delay: 2s;">🐾</div>
  <div class="paw" style="left: 50%; animation-delay: 4s;">🐾</div>
  <div class="paw" style="left: 70%; animation-delay: 6s;">🐾</div>
  <div class="paw" style="left: 90%; animation-delay: 8s;">🐾</div>
</div>