.servicios-container, .form-container {
  max-width: 600px;
  margin: 30px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  border: 2px solid #ededed;
}

/* Títulos */
.titulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #1d3557;
  font-weight: bold;
}

/* Tabla */
.tabla-servicios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-servicios th {
  background-color: #457b9d;
  color: white;
  padding: 12px;
  text-align: center;
}

.tabla-servicios td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tabla-servicios tr:hover {
  background-color: #f1faee;
}

/* Botones */
.btn {
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-add {
  background-color: #2a9d8f;
  color: white;
  margin-bottom: 15px;
}

.btn-add:hover {
  background-color: #21867a;
}

.btn-edit {
  background-color: #f4a261;
  color: white;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: #e07b39;
}

.btn-delete {
  background-color: #e63946;
  color: white;
}

.btn-delete:hover {
  background-color: #b71c1c;
}

.btn-save {
  background-color: #2AC77E;
  color: white;
  width: 174px;
}

.btn-save:hover {
  background-color: rgb(13, 96, 86);
}

.btn-cancel {
  background-color:  rgb(22, 128, 115);
  color: white;
  width: 124px;
}

.btn-cancel:hover {
  background-color:  rgb(13, 73, 66);
}

.form-servicio {
  display: flex;
  flex-direction: column;
}

.form-servicio label {
  margin-top: 10px;
  font-weight: bold;
  color: #1d3557;
}

.form-servicio input,
.form-servicio textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-servicio textarea {
  resize: vertical;
}

.acciones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}